In [161]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [182]:
df = pd.read_csv('solty.csv', index_col = False)

In [181]:
df

     Depth  Temp  Solnity
0       10    97    100.0
1       11    98    100.0
2       12    99    100.0
3       13   111    100.0
4       14   111    100.0
..     ...   ...      ...
799    809   896     70.0
800    810   897     60.0
801    811   898     61.0
802    812   899     62.0
803    813   900     63.0

[804 rows x 3 columns]

In [187]:
df['Solnity'] = df['Solnity'].astype('Int64')

In [188]:
df['Solnity']

0      100
1      100
2      100
3      100
4      100
      ...
799     70
800     60
801     61
802     62
803     63
Name: Solnity, Length: 804, dtype: Int64

In [192]:
df.to_csv('Solnity.csv', index=False)

In [193]:
df

     Depth  Temp  Solnity
0       10    97      100
1       11    98      100
2       12    99      100
3       13   111      100
4       14   111      100
..     ...   ...      ...
799    809   896       70
800    810   897       60
801    811   898       61
802    812   899       62
803    813   900       63

[804 rows x 3 columns]

In [196]:
import numpy as np

import pandas as pd

#import seaborn as sns

import matplotlib.pyplot as plt

from sklearn import preprocessing, svm

from sklearn.model_selection import train_test_split

from sklearn.linear_model import LinearRegression

In [ ]:
data = pd.read_csv('Solnity.csv')